{% extends 'base.html' %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="row">

<div class="col-md-3">
<div class="card bg-success text-white">
<div class="card-body">
Actual Stock
<h3>0 KG</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-warning text-white">
<div class="card-body">
Incoming Stock
<h3>0 KG</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-danger text-white">
<div class="card-body">
Reserved Stock
<h3>0 KG</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-primary text-white">
<div class="card-body">
Available Stock
<h3>0 KG</h3>
</div>
</div>
</div>

</div>
{% endblock %}